#logo 
{ 
    width: 200px;
    margin: 10px; 
}

#menu ul { background-color:#b8b8b800; list-style:none; } 

#menu ul li { display: inline-block; } 

#menu ul li a 
{ 
    padding: 10px 10px;  /*tamanho do botão*/ 
    display: inline-block; /* visual do link */ 
    background-color:#000000; 
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    border-bottom:3px solid #EDEDED;  /*tamanho da borda de baixo*/
    border-radius:5px 5px 5px 5px;  /*arredondamento do botão*/
    margin: 10px; /*distancia entre os botões*/ }

    #body { background-color: #a8a8a8; }
    
    #headeru { background-color: #535353; } 
    
    #menu
    { 
        position:absolute; 
        right: 10px; 
        top: 60px; /* posiciona a 60px para baixo */ 
    } 
    
    #h2jogosu 
    { 
        font-size: 40px; 
    } 
    
    #listajogos ul 
    { 
        list-style:none; 
        position:absolute; 
        left: -35px; 
        top: 280px; 
        white-space: nowrap;
    } 
    
    #listajogos ul li 
    { display: inline-block; 
        margin: 10px; /*distancia entre os botões*/ 
    } 
    
    #listajogos ul li p 
    { font-size: 30px;
         text-align: center; 
         margin: 4px; 
    } 
    
    #listajogos ul li img 
    {
         width: 300px;
    } 

    .cjogosu
    {
        padding: 15px 25px;  /*tamanho do botão*/
        display: inline-block; /* visual do link */ 
        background-color:#252525; 
        color: rgb(255, 255, 255); 
        text-decoration: none;
        border-radius: 100%;  /*arredondamento do botão*/ 
        font-size: 50px;
        position: absolute;
        top: 35%;
        right: 0.1%;
        opacity: 0.7;
    }

    #btc ul
    {
        list-style: none;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .fundojogopadrao
    {
        background-color: rgb(34, 34, 34);
    }

    #rainbowimg
    {
        width: 70%;
        position: absolute;               
        top: 5%;     
        left: 50%;                   
        transform: translate(-50%, 0) 
        
    }

    #btnvjn ul
    {
        list-style: none;
    }

    #btnvj
    {
        padding: 15px 25px;  /*tamanho do botão*/
        display: inline-block; /* visual do link */ 
        background-color:#000000; 
        color: rgb(255, 255, 255); 
        text-decoration: none;
        border-radius: 100%;  /*arredondamento do botão*/ 
        font-size: 30px;
        position: absolute;
        top: 2%;
        left: 1%;
        opacity: 0.7;
    }

    #video
    {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0) 
    }

    #video iframe
    {
        width: 885px;
        height: 500px;
    }
    
    #rainbown
    {
        color:white;
        font-size: 50px;
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translate(-50%, 0) 
    }

    #rainbowt
    {
        color:white;
        font-size: 30px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-48%, 0) 
    }
    
    #rainbowp
    {
        color:white;
        font-size: 30px;
        position: absolute;
        top: 90%;
        left: 30%;
    }
    
    #rainbowd ul
    {
        list-style: none;
    }

    #rainbowb
    {
        padding: 15px 25px;  /*tamanho do botão*/
        display: inline-block; /* visual do link */ 
        background-color:#be0000; 
        color: rgb(255, 255, 255); 
        text-decoration: none;
        border-radius: 100%;  /*arredondamento do botão*/ 
        font-size: 30px;
        position: absolute;
        top: 2%;
        left: 1%;
    }