#logo
{
    width: 200px;
}

#menu ul {
    background-color:#b8b8b800;
    list-style:none;
}

#menu ul li { display: inline-block; }

#menu ul li a {
    padding: 10px 10px;  /*tamanho do botão*/
    display: inline-block;

    /* visual do link */
    background-color:#000000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom:3px solid #EDEDED;  /*tamanho da borda de baixo*/
    border-radius:5px 5px 5px 5px;  /*arredondamento do botão*/
    margin: 10px; /*distancia entre os botões*/
}

#body
{
    background-color: #a8a8a8;
}

#headeru
{
    background-color: #535353;
}

#menu
{
    position:absolute;
    right: 10px;
    top: 60px; /* posiciona a 60px para baixo */
}

#jogo2u
{
    width: 300px;
}

#h2jogosu
{
    font-size: 40px;
}

#prainbowu
{
    font-size: 20px;
    position:absolute;
    left: 70px;
    top: 260px;
}

#passassinsdirectoru
{
    font-size: 20px;
    position:absolute;
    left: 395px;
    top: 260px;
}

.gamecard
{
    background-color: aqua;
    width: 20%;
}

.gamecard img
{
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);

}

.gamecard p
{
    text-align: center;
}